#smile {
    width: 313px;
    height: 306px;
    margin: auto;
    position: relative;
    top: -250px;
    display: none;
    background-image: url(../img/both.png);
}

#smile.happy {
    background-position-x: -50px;
    background-position-y: -18px;
}

#smile.sad{
    background-position-x: 331px;
    background-position-y: -18px;
}

#container {
    margin: 190px auto;
    width: 640px;
    height: 500px;
}

#frame {
    z-index: 900;
    background: url(../img/frame.png) no-repeat;
    width: 1102px;
    height: 919px;
    position: absolute;
    top: 0;
    left: 25%;
}

#output {
    -webkit-filter: sepia(1);
    -moz-filter: sepia(1);
}

#save {
    width: 350px;
    height: 300px;
    position: absolute;
    z-index: 999;
    top: 600px;
    left: 1050px;
    text-indent: -9999px;
}